.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.Cockpit button {
    padding: 0.5rem;
    border: 1px solid green;
    border-radius: 4px;
    background-color: green;
    font: inherit;
    cursor: pointer;
}

.Cockpit button:hover {
    background-color: lightgreen;
    color: black;
}

.Cockpit button.Red {
    background-color: red;
}

.Cockpit button.Red:hover {
    background-color: salmon;
}